.datepicker-container{
  background:white;
  color:black;
  padding: 15px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),0 5px 15px 0 rgba(0,0,0,0.08);
  position: relative;
  padding-top: 25px;
  padding-bottom:10px;

  .filters{
    margin-bottom: 5px;
    padding-left: 15px;

    .filter-title{
      color:#183C6B;
      text-align: left;
      margin-bottom: 10px;
      font-size: 16px;      
    }
   
    .filter-options{
      text-align: left;
      width: 100%;
    }

  }

  .calendar{  
    padding: 5px;
    display: block;
    width: auto;
  }

  .footer{
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-top:1px solid #e0e0e0;
    padding-top: 10px;
  }

}

.last-btn{
  margin-right: 5px;
  border-radius:10px;
  border:0px solid black;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  background: white;
  color:#A1A2AE;
}

.last-btn.selected{
  background: #183C6B;
  color:white;
}

.last-btn:hover{
  background:#183C6B;
  color:white;
  cursor: pointer;
}

.datepicker-container:after {
  bottom: 100%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;
  border-width: 17px;
  margin-left: -17px;
}

.CalendarMonth_table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.DayPicker_weekHeader{
  color:#183C6B;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px!important;
}

.DayPicker_weekHeader_li{
  text-transform: uppercase;
  font-size:18px;
}

.DayPicker{
  border: 0px!important;
  width: 100%;
}

.CalendarDay__default{
  border:0px;
}

.DayPicker__withBorder {
  box-shadow: 0 0px 0px rgba(0,0,0,.05), 0 0 0 0px rgba(0,0,0,.07);
  border-radius: 0px;
}

.CalendarMonth_caption{
  color:#183C6B;
  font-size: 15px;
}

.DayPickerNavigation_button{
  border:0px;
}

.DayPickerNavigation_button:hover{
 border:0px; 
}

.CalendarDay__selected{
  background:#183C6B;
  border:0px;
  /*border-radius: 20px;*/
}

.CalendarDay__selected:hover{
  background: #3B86FF;
  border:0px;
}

.CalendarDay__selected_span {
  background: #A1A2AE;
  color: white;
  border:0px;
}

.CalendarDay__selected_span:hover{
  background: #3B86FF;
  border:0px;
}